.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    height: auto;
    padding: 40px 20px;
    flex-wrap: wrap;
    background-color: #f8f9fa;
  }
  
  /* Style des cartes (form + map) */
  .card {
    background-color: rgb(238, 238, 238);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(43, 21, 213, 0.1);
    width: 50%;
    max-width: 400px;
    text-align: center;
  }
  
  .map-card iframe {
    border-radius: 10px;
    height: 200px !important;
  }
  
  h2 {
    color: #00274D;
    font-size: 22px;
    margin-bottom: 18px;
  }
  
  label {
    font-size: 15px;
    color: #333;
    text-align: left;
    display: block;
    margin-bottom: 6px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
  }
  
  button {
    background-color: #F5A623;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00274D;
  }
  