
<div class="container my-5">
  <h2 class="mb-3">🚗 Produits à louer</h2>
  <div class="scroll-container">
    <ng-container *ngFor="let product of products">
      <div class="product-card" *ngIf="product.type === 'location'">
        <img 
          [src]="'http://localhost:8000/storage/' + product.image" 
          alt="{{ product.nom }}" 
          class="product-img" 
          [ngStyle]="{'object-fit': 'contain', 'width': '100%', 'height': '200px'}">
        <div class="info">
          <h5>{{ product.nom }}</h5>
          <p>{{ product.description }}</p>
          <p class="price">{{ product.prix }} €/j</p>
          <button class="btn btn-primary" (click)="goToProductDetails(product.id)">Réserver</button>

        </div>
      </div>
    </ng-container>
  </div>

  <h2 class="mt-5 mb-3">🛒 Produits à vendre</h2>
  <div class="scroll-container">
    <ng-container *ngFor="let product of products">
      <div class="product-card" *ngIf="product.type === 'vente'">
        <img 
          [src]="'http://localhost:8000/storage/' + product.image" 
          alt="{{ product.nom }}" 
          class="product-img" 
          [ngStyle]="{'object-fit': 'contain', 'width': '100%', 'height': '200px'}">      
        <div class="info">
          <h5>{{ product.nom }}</h5>
          <p>{{ product.description }}</p>
          <p class="price">{{ product.prix }} €</p>
          <button class="btn btn-success" (click)="goToProductDetails(product.id)">Acheter</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
